/* Generic Elements Markup */

body {
	background-color: #111;
	color: #CCC;
	font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Geneva, sans-serif;
	font-size: 62.5%;
	margin: 0 0 25px;
	padding: 0;
}

h1 {
	color: white;
	font-size: 28px;
}

h2 img{
	vertical-align: middle;
}

h3 {
	margin: 0px;	
}

h5 {
	margin: 0px;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 10px;	
}


a {
	color: #FC0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;	
}

img.avatar{
	vertical-align: middle;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}


form {	
	padding: 10px;
}

form label {
	font-size: 1.4em;
}

textarea{
	font-size: 12px;
}

input{	
	font-size: 1.3em;
}

select{
	font-size: 1.3em;
}


/* ++++++ Layout Markup ++++++ */


#page {
	margin: auto;
	width: 800px;
	background: #444;
	border-top: 5px solid #bbb;
	border-bottom: 5px solid #bbb;
	font-size: 1.2em;
}

#header {
	margin: auto;
	width: 780px;
	font-size: 1.4em;
}

ul#top_menu {
	list-style-type: none;
	margin: 12px 0;
	padding: 0;
}

#top_menu li {
	display: inline;
	margin: 0 5px;
	padding: 5px;
}

#top_menu li a:hover {
	background-color: #FC0;
	color: black;
	text-decoration: none;
}


#top_menu a#logout{
	font-size: 0.8em;
}

#top_menu a#logout:hover{
	background-color: #111;
	color: #FC0;
	text-decoration: underline;	
}

#logo {
	float: right;
	position: relative;
	top: -30px;
	overflow: hidden;
	margin-bottom: 0px;
}

#footer {
	clear: both;
	padding-top: 20px;
	font-size: 1.2em;
	text-align: center;
}



#flashes {
	width: 530px;
	padding: 0 1em;
	margin-top: 10px;
}

.flash {
	border: solid medium white;
	color: #fff;
	font-size: 1.4em;
	padding: 5px;
}

.flash.notice {
	background-color: #344821;
}

.flash.error {
	background-color: #993333;
}

.flash.warning {
	background-color: #ff9900;
}

#main-col {
	float: left;
	width: 530px;
	min-height: 200px;
	padding: 0 1em;
	margin-top: 10px;
}


/* User Info Column */


#info_col {
	float: right;
	padding: 0 10px 15px 0;
	width: 220px;
	margin-top: -30px;
}

#info_col p {
	margin: 10px 5px;
}

#info_col br {
	border: thin solid black;
	height 2px;
}


#user_stats {
	margin-left: 10px;
	width: 130px;	
	font-size: 1.3em;
	color: #FFF;
}

#user_stats li{
	text-align: right;
}

#user_stats span.stat{
	float: left;
}

#user_stats span.value{
	text-align: right;	
}

/***** App Views ******/


/* User Views */

#tabs_user{
	margin-bottom: 15px;
}

/* Common Styling */

.tabulation li{
	display: inline;
	font-size: 1.3em;
	padding: 5px;
	margin-left: 5px;
}


#quizz_box{
	border: 2px solid #999;
	background-color: #272727;
}

#quizz_box label{
	text-align: right;
	float: left;	
	width: 6em;
	margin-right: 1em;
}

#quizz_submit input{
	margin-left: 116px;
}

#quizzs_tab {
	margin: 15px 0;
	font-size: 1.2em;
}

#quizzs_tab li {
	display: inline;
	margin: 0 15px;
}

.pagination {
	margin: 20px;
	text-align: center;
}

.avatar-list{
	padding: 0px;
	margin: 0px;
	width: 198px;
}

.avatar-list img {
	margin: 1px;
}

.avatar {
	background: #ddd;
	padding: 8px;
}

.avatar.medium{	
	padding: 8px;
}

.avatar.thumb{	
	padding: 4px;
}


.avatar.micro{	
	padding: 2px;
}

.quizz .avatar.thumb {
	float: left;	
}

.answer strong{
	color: #FFF;
}

li.quizz {
	margin: 5px;
	padding: 10px;
	border: thin solid #AAA;
}

li.quizz.open {
	background: #6B6B6B;	
}

li.quizz.closed {
	background: #111;
}

li.quizz.blank {
	background-color: #C0C0C0;
}

li.quizz.right {
	background: #344821; url(../images/correct.png) no-repeat right bottom;
}

li.quizz.wrong {
	background: #993333; url(../images/wrong.png) no-repeat right bottom;
	/*background: #993333*/
}

.quizz h3 {
	font-size: 1.4em;
}

div.quizz-main{
	margin-left: 70px;
}


.quizz p {
	margin: 0 0 5px 0px;
}

p.quizz-details {
	float: right;
	margin-top: 0;
	text-align: right;
}

h5.answer{
	margin-top: 10px;
	margin-bottom: 0px;
	reset: left;
}

h5.answer img{
	margin-right: 5px;
	vertical-align: middle;
}

div.answers-count {
	text-align: right;
	
}


div.answers-count a {
	
}

#answers_list {
	margin: 20px 20px;
}

li.answers {
	padding: 5px 10px;
}

li.answer.right {
	background-color: #8EFC97;
}

li.answer.wrong {
	background-color: #FCA29D;
}

p.question {
	color: #fff;
	font-size: 1.6em;
	text-transform: none;	
}


/*Account Zone*/

#account_menu {
	margin-left: opx;
}

#account_menu li{
	margin-right: 2px;
	padding: 10px;
	display: inline;
	background-color: #151515;
	border: 2px solid #999;
}

#account_menu li.active{
	background-color: #272727;
	padding: 12px;
	border: 2px solid #999;
	border-bottom: none;
}

#account_menu a{
	text-decoration: none;
	font-size: 16px;
}


#account_menu li:hover{
	background-color: #272727;
}


/* Forms Styling */

#account_edit.avatar label{
	width: 10em;
	text-align: left;
	margin-bottom: 5px;
}

.main-form{
	margin-top: 9px;
	padding: 20px;
	background-color: #272727;
	border: 2px solid #999;	
}

.main-form label{
	width: 6em;
	float: left;
	margin-right: 1em;
	text-align: right;
}

.main-form label.not-indented{
	margin-right: 10px;
	text-align: left;	
	margin-bottom: 5px;
	width: 100%;
}

.form-submit input{
	margin-top: 10px;
	margin-left: 118px;
}

#forgot_password{
	margin-top: -20px;
	text-align: right;
	float: right;	
}

#notices_edit label{
	width: 10em;	
}

.image-submit{
	vertical-align: bottom;
}



/******* Index Public Page ********/

#last-quizzs{
	float: left;
	width: 530px;
	min-height: 200px;
	padding: 0 1em;
	margin-top: 10px;
}

#last-users{
	float: right;
	padding: 0 10px 15px 0;
	width: 210px;
	margin-top: -30px;

}




