<div id="last-quizzs">  
  <h2>Last quizzs</h2>
  <ul class="quizz-list">
    <%= render :partial => 'quizz', :collection => @quizzs %>
  </ul>
</div>

<div id="last-users">
  <h2>Last users</h2>
  <ul class="users-list">
    <%= render :partial => 'user', :collection => @users %>
  </ul>
</div>