<div id="last-quizzs"> 
  <h1>Last quizzs</h1>
  <ul class="quizz-list">
    <%= render :partial => 'quizz', :collection => @quizzs %>
  </ul>
</div>
<div id="last-users" class='sidebar'>
  <h1>Last users</h1>
  <ul class="users-list">
    <%= render :partial => 'user', :collection => @users %>
  </ul>
</div>
