<ul id="tabs_user" class="tabulation">
	<li>View <%= @user.login %>'s</li>
	<li><%= link_to 'Quizzs', url_for( :user => @user.login, :action => nil ), :class => (params[:action] == 'show' ? 'active' : '') %></li>
    <li><%= link_to 'Answers', url_for( :user => @user.login, :action => 'answers' ), :class => (params[:action] == 'show_answers' ? 'active' : '') %></li>
</ul>