<div id="main-col">
  <h2><%= link_to_user(@user) %> is followed by <strong><%= @followings.size.to_s %></strong> quizzers</h2>
  <ul id="followings-list" class="ff-list">
    <%= render :partial => 'following', :collection => @followings %>
  </ul>
</div>