<div id="main-col">
  <h2><%= link_to_user(@user) %> is following <strong><%= @followers.size.to_s %></strong> quizzers</h2>
  <ul id="followers-list" class="ff-list">
    <%= render :partial => 'follower', :collection => @followers %>
  </ul>
</div>