<h1>You are following <%= @followings.size.to_s %> quizzers</h1>
<div id="main-col">
  <h2><%= @followings.size.to_s %> followings for <%= link_to_user(@user) %></h2>
  <ul id="followings-list" class="users-list">
    <%= render :partial => 'following', :collection => @followings %>
  </ul>
</div>