<div id="main-col">
  <%= render :partial => 'tabs_for_user' %>	
  <ul id="quizzs">
	<% if !@quizzs.nil? %>
    	<%= render :partial => 'quizz', :collection => @quizzs %>
	<% else %>
		<h2 id="no-quizzs" class="main-message">This user has no quizz yet</h2>
	<% end %>
  </ul>
</div>
<%= render :partial => '/user_info', :object => @user %>