<div id="main-col">
  <%= render :partial => 'tabs_for_user' %>	
  <ul id="quizzs">
	<% if !@quizzs.nil? %>
    	<%= render :partial => 'quizz_answered_by', :collection => @quizzs, :as => :quizz %>
	<% else %>
		<h2 id="no-answer" class="main-message">This user has answered no quizz yet</h2>
	<% end %>
  </ul>
  <div id="home_pagination" class="pagination"><%= will_paginate(@quizzs) %></div>
</div>
<%= render :partial => '/user_info', :object => @user %>