<div id="main-col">
  <%= render :partial => 'tabs_for_user' %>	
  <ul id="quizzs">
	<% if !@quizzs.empty? %>
    	<%= render :partial => 'quizz', :collection => @quizzs %>
	<% else %>
		<div class="big-message">
			<h1 id="no-quizzs" class="main-message">This user has nothing to quizz</h1>
		</div>
	<% end %>
  </ul>
  <div id="home_pagination" class="pagination"><%= will_paginate(@quizzs) %></div>
</div>
<%= render :partial => '/user_info', :object => @user %>