<div id="main-col">
	<div id='quizz-viewer'>
		<%= render :partial => 'quizz', :object => @quizz %>
	</div>
	<ul id='answers_list'>
		<%= render :partial => 'answer', :collection => @answers %>
	</ul>
	<div id="answers_pagination" class="pagination"><%= will_paginate(@answers) %></div>
</div>