<% form_tag url_for( :controller => 'answers', :action => 'create', :id => answer_form_for.id ) do -%>
	<% if answer_form_for.show_pattern %>
		<p class="answer-pattern"><%= asterisize( answer_form_for.correct_answer ) %></p>
	<% end %>
	<p><%= text_field_tag 'answer', asterisize( answer_form_for.correct_answer ), :class => 'emptyme' %> <%= image_submit_tag 'button-small-answer.png', :class => 'image-submit' %></p>
<% end -%>
