<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
	"http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="max-age=200" />
	<title>quizzr :: the social quiz</title>
	<link rel="stylesheet" href="/stylesheets/quizzr.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="header" >
        <h1 id="logo"><a href="/"><img src="/images/logo.png" width="232" height="204" alt="Quizzr Logo"></a></h1>
		<%= render :partial => 'layouts/top_menu' %>
	</div>
	<div id="page">
    	<div id="flashes">
			<%= render :partial => 'layouts/flash', :collection => flash %>
		</div>
    	<div id="content">
      		<%= @content_for_layout %>
    	</div>
    	<div id="footer" >
      		<p>Quizzr.net (2009) - <a href="/about">About</a></p>
    	</div>
  	</div>
	<!-- Google Analytics Tracker -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-264061-7");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>